<div>
  {% extends "AppInvocador/lobby.html" %} {% load static %} {% block content %}
  <h2>Pentakills dirigidas por un coach</h2>
</div>
<body>
  <div class="container">
    <p class="arial">
      Cansado de no poder mandarte plays como estas?
      Contrata el servicio de un coach y veras como podras hacerte un 1v5 como en que hizo "Feliipee"
    </p>

    <div >
      <a href="https://www.youtube.com/watch?v=b1aeaYI9xGw" target="_blank">
        <img
        src="https://i.ytimg.com/vi/kDHNa0xAsZ4/maxresdefault.jpg"
        height="90%"
        width="90%"
        alt=""
        a
      />
    </div>



  </div>
  <footer>
    <div class="container">Derechos resevados de APPINVOCADOR SA</div>
  </footer>
  {% endblock content %}
</body>
