<div>
  {% extends "AppInvocador/lobby.html" %} {% load static %} {% block content %}
  <h2 style="color: rgb(108, 113, 117)">JUGADAS DESTACADAS</h2>
</div>
<body>
  <div>
    <p>
      Jugadas que salieron bien gracias al juego de equipo y a que se pulieron
      mecanicas previamente habladas.
    </p>
    <div style="background-color: rgba(4, 75, 10, 0.363)" class="cajaVideos">
      <h2 class="pVideos" style="color: rgb(10, 139, 17)">SHYVANA</h2>
      <p style="text-align: center">🐉Pentakill de Shyvana en un 4v5🐉</p>
      <br />
      <iframe
        width="60%"
        height="400"
        src="https://www.youtube.com/embed/b1aeaYI9xGw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <br />
      <br />
      <br />
      <br />
    </div>
    <div style="background-color: rgba(85, 6, 6, 0.459)" class="cajaVideos">
      <h2 class="pVideos" style="color: rgb(211, 10, 10)">ZED</h2>
      <p style="text-align: center">
        🥷Buena cuadra por parte del mejor ninja del juego🥷
      </p>
      <iframe
        width="60%"
        height="400"
        src="https://www.youtube.com/embed/u-JAWfcu3E0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <br />
      <br />
      <br />
      <br />
    </div>
    <div style="background-color: rgba(4, 42, 114, 0.445)" class="cajaVideos">
      <h2 class="pVideos" style="color: rgb(10, 147, 211)">INVADE</h2>
      <p style="text-align: center">
        🔥El arte de invadir y sacar mucha ventaja🔥
      </p>
      <br />
      <iframe
        width="60%"
        height="400"
        src="https://www.youtube.com/embed/ZjEUX1dVypc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  {% endblock content %}
  <footer>
    <div class="container">Derechos resevados de APPINVOCADOR SA</div>
  </footer>
</body>
