<div>
  {% extends "AppInvocador/lolero.html" %} {% load static %} {% block content %}
  <h2>EDITANDO AL INVOCADOR</h2>
  <form action="" method="post">
    {% csrf_token %}
    <!--table>
      {{ miFormulario.as_table }}
    </!--table-->
    <input
      class="botonPiola"
      placeholder="nombre"
      type="text"
      name="nombre"
      required
    />
    <input
      class="botonPiola"
      placeholder="nick"
      type="text"
      name="nick"
      required
    />
    <input
      class="botonPiola"
      placeholder="email"
      type="email"
      name="email"
      required
    />
    <input class="botonPiola2" type="submit" value="Enviar" />
  </form>
  {% endblock content %}
</div>
