<div>
  {% extends "AppInvocador/lolero.html" %} {% load static %} {% block content %}

  <div>
    <p>BUSCAR INVOCADOR</p>
    <form action="/AppInvocador/buscarInvocador/" method="GET">
      <input placeholder="Nombre" type="text" name="nombre" id="nombre" />
      <input type="submit" value="Buscar" />
    </form>
    <br />
    <div class="invocadorEncontrado">
      {% if invocadores %} {% for invocador in invocadores %}
      <img
        src="https://pbs.twimg.com/media/CQFJSAxW8AA3YMj.png"
        alt="invocadorEncontrado"
        height="100"
        width="100"
      />
      <p>Nombre: {{invocador.nombre}}</p>
      <p>Nick: {{invocador.nick}}</p>
      {% endfor %} {% endif %}
    </div>
  </div>
  {% endblock content %}
</div>
