<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'AppInvocador/css/main.css' %}" rel="stylesheet"/>
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__h1">Bienvenidos a la Grieta del Madeo</h1>
      </div>
    </header>
    <div class="container">
      <p>
        Sean todos bienvenidos al peor lugar para perder el tiempo
      </p>
    </div>
  </body>
  </body>
</html>
