<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'AppInvocador/css/main.css'%}" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <div>
        <ul class="nav">
          <li><a href="{% url 'lobby' %}">LOBBY</a></li>
          <li><a href="{% url 'partida' %}">INVADE</a></li>
          <li><a href="{% url 'lolero' %}">INVOCADORES</a></li>
          <li><a href="{% url 'coach' %}">PENTA</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">INVOCADORES</a>
            <div class="dropdown-content">
              <a href="{% url 'setInvocador' %}">Agregar Invocador</a>
              <a href="{% url 'getInvocador' %}">Buscar Invocador</a>
            </div>
          </li>
          <li>
            <a href="{% url 'perfil' %}"
              ><img src="{{avatar}}" width="40px"
            /></a>
          </li>
          <li><a href="{% url 'perfil' %}">{{user.username}}</a></li>
          <li style="float: right" class="active">
            <a href="{% url 'Logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="header">
      <div class="container">
        <h1 class="header__h1">La Grieta del Madeo</h1>
      </div>
    </header>
    {% block content %}
    <div>
      <p>Sean todos bienvenidos al peor lugar para perder el tiempo :)</p>
      <p>En esta pagina podras buscar la tutela de un jugador profesional, para poder mejorar en tus rankeds</p>
    </div>

    <div class="container">
      <p class="arial">
        Aca tenemos a un jugador que casi se lleva la pentakill, gracias a los consejos de su tutor.
      </p>
  
      <div >
        <a href="https://youtu.be/u-JAWfcu3E0" target="_blank">
          <img
          src="https://i.ytimg.com/vi/U8c0NNQZp-M/maxresdefault.jpg"
          height="90%"
          width="90%"
          alt=""
          a
        />
      </div>
  
  
  
    </div>



    
    {% endblock content %}
  </body>
</html>
