<div>
  {% extends "AppInvocador/lobby.html" %} {% load static %} {% block content %}
  <h2>LISTA DE AMIGOS DE LA GRIETA</h2>
  <p style="text-align: center">(Mancos que te caen bien o que te carrean)</p>
  <table style="text-align: center">
    <tr style="text-align: center">
      <th>NOMBRE</th>
      <th>NICK</th>
      <th>EDITAR</th>
      <th>/ELIMINAR</th>
    </tr>

    {% for invocador in Invocadores%}
    <tr>
      <td>{{invocador.nombre}}</td>
      <td>{{invocador.nick}}</td>
      <td>
        <button class="botonPiola4">
          <a
            href="{% url 'editarInvocador' invocador.nombre %}"
            text-decoration:none
            >EDIT</a
          >
        </button>
      </td>
      <td>
        <button class="botonPiola3">
          <a
            href="{% url 'eliminarInvocador' invocador.nombre %}"
            text-decoration:none
            >X</a
          >
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div class="fromSetInvocador">{% block setInvocador %} {% endblock %}</div>
  <div class="fromGetInvocador">{% block getInvocador %} {% endblock %}</div>
  <div class="cajaVideos">
    <br />
    <img
      src="https://images4.alphacoders.com/161/161494.jpg"
      height="50%"
      width="80%"
      alt="a la grieta"
    />
    <br />
    <br />
  </div>
  {% endblock content %}
</div>
