<div>
  {% extends "AppInvocador/lobby.html" %} {% load static %} {% block content %}
  
  <div class="container">
    <h3>QUE TAN IMPORTANTE ES UN INVADE?</h3>
    <p class="arial">
      Fijate bien como gracias a una buena organizacion, se logra tener una ventaja temprana en una partida clasificatoria.
    </p>

    <div >
      <a href="https://www.youtube.com/watch?v=ZjEUX1dVypc" target="_blank">
        <img
        src="https://i.ytimg.com/vi/4drbdZr1blA/maxresdefault.jpg"
        height="90%"
        width="90%"
        alt=""
        a
      />
    </div>



  </div>


  {% endblock content %}
</div>
