html {
  font-size: 62.5%;
}
h1 {
  color: rgb(255, 255, 255);
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
  padding: 20px 40px 30px 400px;
  font-family: "Uchen", serif;
}
h2 {
  text-align: center;
  font-size: 3.2rem;
}
h3 {
  color: rgb(129, 9, 226);
}
p {
  font-size: 3.1rem;
  text-align: justify;
  color: rgb(92, 24, 24);
}
body {
  background-color: black;
  font-size: 1.6rem;
}
td {
  color: rgb(255, 255, 255);
}
