html {
  height: 100%;
  font-size: 62.5%;
}
h1 {
  color: rgb(224, 205, 205);
  font-size: 5rem;
  text-align: center;
  text-shadow: 4px 4px 6px black;
  background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2015/02/447638-guia-league-legends-grieta-invocador.jpg?tf=3840x);
  background-size: cover;
  background-position: center;
  padding: 20px 40px 20px 40px;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman,
    serif;
}
h2 {
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
  text-align: center;
  font-size: 3rem;
  color: yellow;
  text-shadow: 2px 2px 3px rgb(243, 239, 239);
}
h3 {
  color: yellow;
  text-align: center;
}
p {
  font-size: 3.1rem;
  text-align: justify;
  color: rgb(255, 255, 255);
}
body {
  margin: 0;
  background-image: url("https://img.freepik.com/fotos-premium/textura-grande-pared-negra-fondo_29332-1357.jpg");
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
footer {
  margin-top: auto;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman,
    serif;
  background-color: #050200;
}
td {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.barra {
  text-align: center;
  align-items: center;
}
ul {
  text-align: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #08d389;
}

.active {
  background-color: #af0bcf;
}
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #08d38879;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #06012e;
}

.dropdown:hover .dropdown-content {
  display: block;
}
label {
  color: whitesmoke;
}
.invocadorEncontrado {
  font-size: 2rem;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
}
tr {
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
  text-align: center;
  font-size: 2rem;
  color: rgb(192, 189, 19);
  background-position: center;
}
.botonPiola {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
  font-size: 1.7rem;
}
.botonPiola2 {
  background-color: green;
  color: rgb(0, 0, 0);
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
  font-size: 2.5rem;
  border-radius: 3em;
}
.botonPiola3 {
  text-decoration: none;
  text-align: center;
  background-color: red;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  border-radius: 3em;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.botonPiola4 {
  text-decoration: none;
  text-align: center;
  background-color: rgb(135, 173, 29);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  border-radius: 3em;
  border-radius: 10px;
}
.containerForm {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important ;
  position: absolute !important ;
  height: 100% !important;
  width: 100% !important;
  background-image: url(https://www.gamereactor.es/media/24/leaguelegends_3352473b.png);
  background-size: cover;
  background-position: center;
}
.containerForm2 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important ;
  position: absolute !important ;
  height: 100% !important;
  width: 100% !important;
  background-image: url(https://youre.outof.cards/media/uploads/92/d4/92d401e5-05f3-48f5-9cdb-ef278f8038e5/teemo-level-2.jpg);
  background-size: cover;
  background-position: center;
}
.containerForm h2 {
  color: #000000;
  text-shadow: 4px 4px 6px rgb(211, 164, 11);
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman,
    serif;
}
.containerForm2 h2 {
  color: #000000;
  text-shadow: 4px 4px 6px rgb(211, 164, 11);
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman,
    serif;
}
.containerForm p {
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgb(37, 37, 36);
  color: #cad80b;
}
.containerForm2 p {
  font-size: 2rem;
  color: #050200;
}
.containerForm a {
  color: #cf0707;
  font-size: 2.4rem;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
}
.containerForm2 a {
  color: #cf0707;
  font-size: 2.4rem;
  text-shadow: 4px 4px 6px rgb(37, 37, 36);
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman;
}
.formLogin {
  font-weight: bold;
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
  width: 400px;
  height: 450px;
}
.formLogin div {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.inputLogin {
  border-radius: 10px;
  width: 90%;
  height: 30px;
}
.cajaImagen {
  display: flex;
  max-width: 80%;
}
.box {
  display: flex;
  flex: 1;
  transition: 0.5s;
  position: relative;
  text-align: center;
}
.box img {
  transition: 0.5s;
  width: 100%;
  height: 512px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.box img:hover {
  flex: 3;
  -webkit-filter: none;
  filter: none;
}
.box:hover {
  flex: 3;
  -webkit-filter: none;
  filter: none;
}
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cajaVideos {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}
.pVideos {
  background-color: #000000b9;
  border-radius: 20px;
  width: 100%;
  height: 45px;
}
